#!/usr/bin/env bash

set -ex
set -o pipefail

install_docker() {
  apt install -y \
    apt-transport-https \
    ca-certificates \
    curl \
    software-properties-common

  curl -fsSL https://download.docker.com/linux/ubuntu/gpg | apt-key add -
  apt-add-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu bionic stable"
  apt update
  apt install -y docker-ce
}

setup_storage() {
  mkfs.ext4 -F "/dev/disk/by-id/scsi-0DO_Volume_${external_volume_name}"
  mkdir -p /mnt/athens_storage
  mount -o discard,defaults,noatime "/dev/disk/by-id/scsi-0DO_Volume_${external_volume_name}" /mnt/athens_storage
  echo "/dev/disk/by-id/scsi-0DO_Volume_${external_volume_name} /mnt/athens_storage ext4 defaults,nofail,discard 0 0" | tee -a /etc/fstab
}

main() {
  apt-get update
  install_docker
  setup_storage

  systemctl daemon-reload
  systemctl enable athens
  systemctl start athens
}

main "$@"
